.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 2vh 0 5vh 0;
  background-color: black;
  color: white;

  .logo {
    font-family: $decoration-font;
    font-size: 2.5vw;
    min-width: 10vw;
    padding-left: 15vw;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    padding: 1vw;
    color: white;

    &:hover {
      color: $accent-color;
    }

    &:first-of-type {
      padding-left: 30vw;
    }
  }
}
